*,
:after,
:before {
  box-sizing: border-box;
}

svg:not(:root) {
  overflow: hidden;
}

html {
  font-family: Raleway,sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}

@media screen and (min-width:38rem) {
  html {
    font-size: 18px;
  }
}

body {
  background-color: #f2f6fb;
  margin: 0;
  color: #585858;
  font-weight: 400;
}

ol,
p,
ul {
  max-width: 38rem;
  width: 100%;
  line-height: 1.618rem;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3 {
  color: #3d3d3d;
  margin: 0;
  margin-bottom: .382rem;
  max-width: 38rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 2.618rem;
  font-weight: 200;
}

h2 {
  font-size: 1.618rem;
  font-weight: 500;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

figure {
  text-align: center;
  margin: auto;
}

.page-width {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.page-panel {
  clear: both;
}

.page-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
}

.page-column {
  -webkit-flex: 29.03rem;
  -ms-flex: 29.03rem;
  flex: 29.03rem;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
  min-width: 1px;
}

.site-header--wrapper {
  background-color: #323b3f;
  position: relative;
}

.site-header--wrapper:after {
  content: "";
  background-color: #295568;
  box-shadow: inset 15px 4px 15px 0 rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  height: 100%;
}

.site-header--wrapper:before {
  content: "";
  background-color: #323b3f;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  width: calc(50% - 640px);
}

.site-header {
  position: relative;
}

.site-header:before {
  content: "";
  background-color: #323b3f;
  position: absolute;
  width: calc(30% + 96px);
  height: 100%;
  left: 0;
  z-index: 1;
}

.site-header__logo {
  width: 240px;
  height: 90px;
  display: inline-block;
  z-index: 2;
  position: relative;
  text-decoration: none;
  margin: .618rem 0;
}

.site-header__steps {
  height: 100%;
  width: 140px;
  position: absolute;
  top: 0;
  left: calc(30% + 95px);
  z-index: 1;
}

.site-nav {
  float: right;
  position: relative;
  z-index: 2;
  width: 100%;
  text-align: center;
}

@media screen and (min-width:768px) {
  .site-nav {
    width: auto;
  }
}

.site-nav__items {
  list-style: none;
  margin-top: 1.618rem;
  margin-bottom: 0;
  padding: 0;
}

@media screen and (min-width:768px) {
  .site-nav__items {
    margin-top: 2.618rem;
  }
}

.site-nav__items>li {
  display: inline-block;
}

.site-nav__item {
  position: relative;
  margin-left: 1rem;
}

.site-nav__item a {
  text-decoration: none;
  padding: .382rem 1rem;
  color: #fff;
  transition: background-color .2s ease-in-out;
  position: relative;
  display: block;
}

.site-nav__item a:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  box-shadow: 3px 3px 3px rgba(0,0,0,.4);
  transition: .2s all ease-in-out;
}

.site-nav__item svg {
  fill: #28434e;
  stroke: #28434e;
  stroke-width: 8px;
  height: 200%;
  width: 100%;
  position: absolute;
  top: -100%;
  bottom: 0;
  left: 0;
  right: 0;
}