.site-header {
  max-width: $max-page-width;
  height: 270px;
  font-size: font-size("m");
  margin: 0 auto;
  padding: size("l") size("m");

  &__wrapper {
    background-color: $site-header-bg;
  }

  &__bar {
    background-color: $site-header-bar-bg;
    box-shadow: 1px 4px 7px rgba(0,0,0,0.25);
    padding: size("xxs");
    margin-top: size("s");
    display: flex;
    height: 3.438rem;
    position: relative;
  }

  &__nav {
    overflow: hidden;
  }

  &__nav-link {
    color: $site-header-link-text;
    text-decoration: none;
    line-height: 3.438rem - size("xxs") * 2;
    display: inline-block;
    margin: 0 size("xs");
    position: relative;
    z-index: 2;
    transform: translateZ(0);
    transition: 0.33s transform cubic-bezier(0.190, 1.000, 0.220, 1.000);

    .is-search-open & {
      transform: translateY(-100%);
    }
  }

  $delay: 50;
  @for $i from 2 through 3 {
      &__nav-link:nth-child(#{$i}) {
        transition-delay: #{$delay}ms;
      }
      $delay: $delay + 75;
  }

  &__nav-link:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 3px;
    background-color: $site-header-nav-item-bg;
    transition: 0.2s opacity ease-in-out;
    opacity: 0;
  }

  &__nav-link.is-active:before {
    opacity: 1;
  }

  &__nav-item {
    padding: 0 size("m");
    display: inline-block;
    position: relative;
  }

  @at-root .slider-item {
    background-color: $site-header-nav-item-bg;
    border-radius: 3px;
    width: 200px;
    height: 2.678rem;//3.438rem - size("xxs") * 2;
    pointer-events: none;
    position: absolute;
    left: size("s") + size("xs");
    top: 0;
    margin-left: - size("m");
    will-change: transform;
    transition: 0.33s transform cubic-bezier(0.01, 0.23, 0.38, 1.33);
    transform-origin: 0 0;
    opacity: 1;
    z-index: 1;
  }

  @at-root .slider-item.is-animated {
    opacity: 0;
    transition: 0.33s opacity ease-in-out;
  }

  &__logo {
    color: $site-header-logo-bg;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__form {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% - #{$site-header-search-btn-width + size("m")});
    padding: size("xxs");
    opacity: 0;
    visibility: hidden;
    transform: scale3d(0, 0, 1);
    transform-origin: 50% 100%;
    transition: 333ms transform cubic-bezier(0.11, 0.89, 0.58, 1);
    transition-delay: 250ms;
    will-change: transform;

    &.is-search-open {
      opacity: 1;
      visibility: visible;
      transform: none;
    }
  }

  &__search {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: $border-radius;
    padding: 0;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    padding-left: size("s");
  }

  &__search-btn {
    border: none;
    background: transparent;
    appearance: none;
    margin-left: auto;
    position: relative;
    height: 100%;
    width: $site-header-search-btn-width;
    svg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 1.750rem;
      fill: white;
      transition: 0.2s opacity ease-in-out;
    }
    .close-icon {
      opacity: 0;
    }
    &--open {
      .search-icon {
        opacity: 0;
      }
      .close-icon {
        opacity: 1;
      }
    }
  }
}
