---
layout: default
---
<div class="page-panel">
  <div class="page-row">
    <div class="page-column">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
    <div class="page-column">
      <figure>
        <img src="/assets/mig.jpg" alt="Et billede af Rolchau med en bog omkring Responsive Webdesign"/>
        <figcaption>Responsiv Webdesign er the sizzle</figcaption>
      </figure>
      <h2>Skillz?</h2>
      <p>Pleh</p>
      <ul>
        <li>CSS</li>
        <li>HTML</li>
        <li>JavaScript</li>
        <li>Wordpress</li>
        <li>SVG</li>
        <li>Java</li>
      </ul>
  </div>
</div>