@import "functions";
@import "media";

/*------------------------------------*\
    COLORS
\*------------------------------------*/

$color-4: #4685A8; //Light-blue


$site-header-logo-bg: #5390B8;

$site-header-bg: #61ABDC;
$site-header-bar-bg: #3C7193;
$site-header-link-text: #fff;
$site-header-nav-item-bg: $color-4;


/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/
$body-font-size: 16px;
$body-font-family: 'Raleway', sans-serif;

$max-text-width: 38rem; // 608px
$max-page-width: 1024px;

$font-sizes: (
  s: 0.750rem,      //12px
  n: 1rem,          //16px
  m: 1.125rem,      //18px
  l: 2rem,          //32px
  xl: 3rem          //48px
);

$font-weight: (
  light: 200,
  regular: 400,
  bold: 700
);

/*------------------------------------*\
    BLOCK SIZES, Z-INDEX, RADIUS ETC.
\*------------------------------------*/

$sizes: (
  xxs: 0.380rem, // ?px
  xs: 0.5rem,    // 8px
  s: 0.625rem,   // 10px
  m: 1rem,       // 16px
  l: 2rem,       // 32px
  xl: 3.125rem,  // 50px
  xxl: 6.250rem  // 100px
);

$border-radius: 4px;

/*------------------------------------*\
    SITE-HEADER
\*------------------------------------*/
$site-header-search-btn-width: 2.750rem;
