@import "functions";
@import "media";

/*------------------------------------*\
    COLORS
\*------------------------------------*/
$header-bg: #61ABDC;

/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/
$body-font-size: 16px;
$body-font-family: 'Raleway', sans-serif;

$max-text-width: 38rem; // 608px
$max-page-width: 1024px;

$font-size: (
  s: 0.5rem,
  n: 1rem,
  l: 2rem,
  xl: 3rem
);

$font-weight: (
  light: 200,
  regular: 400,
  bold: 700
);

/*------------------------------------*\
    BLOCK SIZES, Z-INDEX, RADIUS ETC.
\*------------------------------------*/

$sizes: (
  s: 0.625rem,   // 10px
  m: 1rem,       // 16px
  l: 2rem,       // 32px
  xl: 3.125rem,  // 50px
  xxl: 6.250rem  // 100px
);
